div.loading {
    background-color: #eee;
    background-image: url('ajax-loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

div.loading * {
    opacity: .8;
}

#flash-msgs-custom {
    height: 45px;
}

#flash-msgs-custom .flash-success {
    display: none;
}

.compare-block .view {
    width: 200px;
    float: left;
    margin-left: 150px;
}

.compare-info {
    padding: 5px;
}
